<!DOCTYPE html>
<html>
<head>
	<title>Patient View</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	<style type="text/css">

		.autocomplete {
			  position: relative;
			  display: inline-block;
			}

			input {
			  border: 1px solid transparent;
			  background-color: #f1f1f1;
			  padding: 10px;
			  font-size: 16px;
			}

			input[type=text] {
			  background-color: #f1f1f1;
			  width: 100%;
			}

			input[type=submit] {
			  background-color: DodgerBlue;
			  color: #fff;
			  cursor: pointer;
			}

			.autocomplete-items {
			  position: absolute;
			  border: 1px solid #d4d4d4;
			  border-bottom: none;
			  border-top: none;
			  z-index: 99;
			  /*position the autocomplete items to be the same width as the container:*/
			  top: 100%;
			  left: 0;
			  right: 0;
			}

			.autocomplete-items div {
			  padding: 10px;
			  cursor: pointer;
			  background-color: #fff; 
			  border-bottom: 1px solid #d4d4d4; 
			}

			/*when hovering an item:*/
			.autocomplete-items div:hover {
			  background-color: #e9e9e9; 
			}

			/*when navigating through the items using the arrow keys:*/
			.autocomplete-active {
			  background-color: DodgerBlue !important; 
			  color: #ffffff; 
			}

		#patient_details{
			overflow: auto;
		}
		div>p>strong{
			font-size: 20px;
		}
	</style>
</head>
<body>

	<div>
		<% include navbar.ejs %>
	</div>

<!-- 	<div class="container" style="margin-top: 5vh;">
 -->		<form action="" autocomplete="off">
			<div class="autocomplete" style="width: 300px;">
				<input type="text" name="myCountry" placeholder="Enter the Patient name" id="myInput">
				<!-- <button type="button" class="btn btn-primary" style="margin-top: 1vh; border-radius: 50px 50px; padding: 1vh 2vh; font-size: 20px;">Search</button> -->
			</div>
			<input type="submit">
		</form>
	<!-- </div> -->

	<div class="container-fluid row">

		<div id="patient_details" style="width: 40vw; height: 90vh;margin: 5vh;">

			<% results.forEach(function(result) {%>

			<div style="width: 38vw; height: 20vh; margin:5vh; margin-left: 0; border-radius: 2vh; border: 2px solid black;">
				
				<div class="row" style="padding: 4vh 6vh">
					
					<div>
						<img src="<%= result.image %>.png" alt="File" width="90" height="90">
					</div>

					<div style="margin-left: 15vh;">
						<p><strong>Patient Id: </strong><%= result.id %></p>

						<p><strong>Patient Name: </strong><%= result.name %></p>

						<p><strong>Patient Address: </strong><%= result.address %></p>
					</div>

					<div style="margin-left: 55vh; margin-top: -12vh;">
						<button type="button" class="btn btn-primary" style="padding: 1.5vh 4vh;border-radius: 50px; font-size: 20px; outline: none;" onclick="showPatient('<%= result.image %>','<%= result.id %>','<%= result.name %>','<%= result.address %>')">View</button>
					</div>

				</div>

			</div>

			<% }); %>

		</div>

		<div>
			<div style="width: 52vw; height: 90vh; overflow: auto;">
				<div id="patient_view">
					<img width="170" height="170" style="margin: 2vh 40vh;" id="patient_image">
					<div style="margin: 5vh 30vh;">
						<p><strong>Patient Id: </strong><span id="patient_id"> Patient Id</span></p>

						<p><strong>Patient Name: </strong><span id="patient_name"> Patient Name</span></p>

						<p><strong>Patient Address: </strong><span id="patient_address"> Patient Address</span></p>
					</div>					
				</div>
				<p>asdfsfdhfhgk</p>
			</div>
		</div>

	</div>

	<div>
		<% include footer.ejs %>
	</div>

</body>

<script>
	function showPatient(image, id, name, address){
		document.getElementById("patient_image").src = image+".png";
		document.getElementById("patient_id").innerHTML = " "+id;
		document.getElementById("patient_name").innerHTML = " "+name;
		document.getElementById("patient_address").innerHTML = " "+address;
	}

	function autocomplete(inp, arr){
		var currentFocus;
		inp.addEventListner("input", function(e){
			var a, b, i, val = this.value;
			closeAllLists();
			if (!val) {return false;}
			currentFocus = -1;

			a = document.createElement("DIV");
			a.setAttribute("id", this.id + "autocomplete-list");
			a.setAttribute("class", "autocomplete-items");

			this.parentNode.appendChild(a);

			for (i=0; i<arr.length; i++){
				if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
					b = document.createElement("DIV");
					b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>;"
					b.innerHTML += arr[i].substr(val.length);
					b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
					b.addEventListner("click", function(e){
						inp.value = this.getElementsByTagName("input")[0].value;

						closeAllLists();
					});
					a.appendChild(b);
				}
			}
		});

		inp.addEventListner("keydown", function(e){
			var x = document.getElementById(this.id + "autocomplete-list");
			if (x) x = x.getElementsByTagName("div");
			if(e.keyCode == 40){
				currentFocus++;
				addActive(x);
			}
			else if (e.keyCode == 38) {
				currentFocus--;
				addActive(x);
			}
			else if (e.keyCode == 13) {
				e.preventDefault();
				if (currentFocus > -1) {
					if (x) x[currentFocus].click();
				}
			}
		});

		function addActive(x){
			if (!x) return false;

			removeActive(x);
			if (currentFocus >= x.length) currentFocus = 0;
			if (currentFocus < 0) currentFocus = (x.length -1);

			x[currentFocus].classList.add("autocomplete-active");
		}
		function removeActive(x){
			for (var i = 0; i < x.length; i++){
				x[i].classList.remove("autocomplete-active");
			}
		}
		function closeAllLists(elmnt){
			var x = document.getElementsByClassName("autocomplete-items");
			for (var i = 0; i < x.length; i++){
				if (elmnt != x[i] && elmnt != inp) {
					x[i].parentNode.removeChild(x[i]);
				}
			}
		}
		document.addEventListner("click", function(e){
			closeAllLists(e.target);
		});
	}


	var countries = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua & Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia & Herzegovina","Botswana","Brazil","British Virgin Islands","Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Canada","Cape Verde","Cayman Islands","Central Arfrican Republic","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica","Cote D Ivoire","Croatia","Cuba","Curacao","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea","Eritrea","Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kiribati","Kosovo","Kuwait","Kyrgyzstan","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Marshall Islands","Mauritania","Mauritius","Mexico","Micronesia","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Myanmar","Namibia","Nauro","Nepal","Netherlands","Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","North Korea","Norway","Oman","Pakistan","Palau","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre & Miquelon","Samoa","San Marino","Sao Tome and Principe","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","Solomon Islands","Somalia","South Africa","South Korea","South Sudan","Spain","Sri Lanka","St Kitts & Nevis","St Lucia","St Vincent","Sudan","Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad & Tobago","Tunisia","Turkey","Turkmenistan","Turks & Caicos","Tuvalu","Uganda","Ukraine","United Arab Emirates","United Kingdom","United States of America","Uruguay","Uzbekistan","Vanuatu","Vatican City","Venezuela","Vietnam","Virgin Islands (US)","Yemen","Zambia","Zimbabwe"];

/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("myInput"), countries);

</script>

</html>